{% extends 'base.html' %}
{% block body_block %}
<form method="POST">
    {% csrf_token %}
    <!-- name -->
    <label for="name"><b>Name:</b></label>
    <input type="text" name="name" placeholder="enter your name" required><br>
    <!-- email -->
    <label for="name"><b>E-mail:</b></label>
    <input type="text" name="email" placeholder="enter your email" required><br>
    <!-- password -->
    <label for="name"><b>Password:</b></label>
    <input type="password" name="password" placeholder="enter your password" required><br>
    <!-- department -->
    <label for="name"><b>Department:</b></label>
    <input type="text" name="department" placeholder="enter your department" required><br>
    <input type="submit" class="btn btn-primary" value="register">
</form>
{% endblock %}